#calculator {
    padding: 25px;
    width: 300px;
}

.calculatorimgs {
    width: 25px;
    height: 25px;
    -ms-transform: translateY(20%);
    transform: translateY(20%);
}

.calculatorform {
    background-color: rgba(0, 0, 0, 0);
    border-style: none none solid none;
    border-color:black;
    border-width:1.5px;
    width: 50px;
    font-family: monospace;
    color:black;
}

body {
    font-family: monospace;
    color:black;
    font-size: large;
}
